
/* Home */
.home-container{
    width: 100%;
}

.home-container .home-section{
   padding-inline: 450px;
}

.home-container .hero{
    width: 100%;
    height: 90vh;
    position: relative;
}

.home-container .hero .hero-overlay{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;}

.home-container .hero .hero-title{
    font-size: 50px;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    font-family:'Dancing Script';
    display: flex;
    text-align: center;
    flex-direction: column;
} 

.home-container .hero .hero-title h2{
    color: white;

}

.home-container .hero .hero-title h5{
    color: white;

}
.home-container .hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-section{
    background-color:#bf3d48;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-section a{
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    border: 1px solid #f99352;
    color: #f99352;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: bold;
}

.menu-section a:hover{
    background-color: #f99352;
    border: #bf3d48 1px solid;
    color: #bf3d48;
}

.home-content{
    height: 400px;
    background-color:#bf3d48;
    width: 100%;
    padding:30px;
    padding-inline: 200px;
    display: flex;
    color: #f99352;
    gap: 50px;

}

.home-content p{
    text-align: justify;
}

.home-gallery{
    margin-top: 3vh;
    padding: 30px;
    padding-inline: 200px;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.home-gallery .gallery-card{
    display: flex;
    gap: 24px;
    height: 300px;
    align-items: center;

}

.home-gallery .gallery-card img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.home-gallery .gallery-card p{
    line-height: 24px;
}

/* About Page */

.about-container{
    width: 100%;
}

.about-container .image{
    width: 100%;
    
}
.about-container .image img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.about-container .image h1{
    margin-top:4vh;
    text-align: center;
}

.about-info{
    width: 80%;
    margin: auto;
}

.event{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.event-info{
    width: 40%;
}

.event img{
    width: 35%;
    border-radius: 20px;
}

.contact-info{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}




/* Full page product */
.full-page-product-container{
    display: flex;
    margin: auto;
    width:80%;
    margin-top: 10vh;
}

.full-page-product-image{
    width:70%;
}

.full-page-product-image img{
    width:100%;
    max-height: 500px;
    object-fit: cover;
}

.full-page-product-info{
    padding: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgba(94, 104, 4, 0.116);
}



/* Products Page */
.products-header{
    font-family: 'Nanum Gothic', sans-serif;
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align:center;
    background: rgba(51, 58, 35, 0.459);
    border-radius: 30px;
    color: antiquewhite; 
}


/* My Orders */
.my-order-container{
    font-family: 'Nanum Gothic', sans-serif;
    
}
.orders-main-image{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    
}

/* Menu Page */
.menu-banner{
    width: 100%;
    height: 20vh;
    position: relative;
    
}

.menu-banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu-banner h1{
    position: absolute;
    top:30%;
    left:40%;
    color:white;
    text-shadow: 3px 3px 5px black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 4rem;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.order-list-item td{
    vertical-align: middle;
}

/* Sign in Page */
.signin-banner{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* Register Page */
.register-banner{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}


/* jobs */
.hire-banner{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}